@charset "utf-8";

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 66px;
	background-color: rgba(255, 255, 255, 1);
	border-bottom: 3px solid #000;
	/* opacity: .5; */
}

header > h1.logo {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
}

header > h1.logo > a {
	display: block;
	height: 66px;
	font-size: 20px;
	line-height: 66px;
	text-align: center;
	/* border: 1px solid #000; */
}

header > nav {
	position: absolute;
	right: 0;
	top: 0;
	width: calc(100% - 200px);
	/* background-color: yellow; */
}

header > nav > .gnb {
	display: flex;
	flex-flow: row nowrap;
}

header > nav > .gnb > li {
	width: calc(100% / 6);
}

header > nav > .gnb > li.on > a,
header > nav > .gnb > li:hover > a {
	color: blue;
	font-weight: 600;
}

header > nav > .gnb > li > a {
	display: block;
	height: 66px;
	line-height: 66px;
	text-align: center;
	/* background-color: pink; */
}

.visual {
	height: 560px;
	margin-top: 69px;
	text-indent: -9999px;
	background-image: url(./../images/visual.jpg);
}

article {
	height: 700px;
	font-size: 150px;
	line-height: 700px;
	text-align: center;
}

article:nth-of-type(odd) {
	background-color: skyblue;
}

article:nth-of-type(even) {
	background-color: pink;
}

article:nth-of-type(1) {
	height: 800px;
}

article:nth-of-type(2) {
	height: 650px;
}

article:nth-of-type(3) {
	height: 860px;
}

article:nth-of-type(4) {
	height: 900px;
}

article:nth-of-type(5) {
	height: 700px;
}

article:nth-of-type(6) {
	height: 1000px;
}

footer > address {
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #eee;
}

aside {
	position: fixed;
	right: 1em;
	bottom: 1em;
	/* margin-bottom: 100px; */
}

aside > a {
	display: block;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background-color: #03a63c;
}

aside > a > i {
	color: white;
}
