@charset "utf-8";

#wrap {
	width: 800px;
	margin: 0 auto;
}

section > .list-view > li {
	border-bottom: 1px solid #ccc;
}

section > .list-view > li:first-child {
	border-top: 1px solid #ccc;
}

section > .list-view > li > a {
	display: block;
	position: relative;
	height: 100px;
	padding: 30px 0 30px 84px;
	box-sizing: border-box; /* 패딩이 박스크기에 포함됨 */
}

section > .list-view > li > a > h2 {
	margin-bottom: 10px;
	color: #666;
	font-weight: 500;
	font-size: 16px;
}

section > .list-view > li > a > p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

section > .list-view > li > a > .frame {
	display: block;
	position: absolute;
	left: 10px;
	top: 18px;
	width: 64px;
	height: 64px;
}

section > .list-view > li > a > .frame > img {
	display: block;
	width: 100%;
	height: 100%;
}

footer > address {
	line-height: 50px;
	text-align: center;
}

/* 640px 기준의 미디어쿼리 구문 작성 */
@media screen and (max-width: 640px) {
	#wrap {
		width: 100%;
		margin: 0;
	}

	section > .list-view > li,
	section > .list-view > li:first-child {
		margin-bottom: 20px;
		border: none;
	}

	section > .list-view > li > a {
		display: flex;
		flex-direction: column;
		height: auto; /*기본값*/
		height: initial;
		padding: 30px 10px;
	}

	section > .list-view > li > a > h2 {
		margin: 20px 0;
		text-align: center;
	}

	section > .list-view > li > a > p {
		overflow: visible;
		white-space: normal;
		text-overflow: clip;
		line-height: 1.5;
		text-align: center;
	}

	section > .list-view > li > a > .frame {
		order: -100;
		position: initial; /*현재 속성의 기본값을 적용*/
		width: 100%;
		height: 300px;
		outline: 10px solid #ccc;
	}

	section > .list-view > li > a:hover > .frame {
		outline-offset: 3px;
	}

	footer {
		border-top: 1px solid #ccc;
	}
}

/* outline-offset 속성 이해하기 */

.test {
	display: none;
}

.test > .frame {
	width: 200px;
	margin: 100px auto;
	outline: 10px solid #ccc;
}

.test > .frame:hover {
	outline-offset: 30px;
}

.test > .frame > img {
	display: block;
	width: 100%;
}
