@charset "utf-8";

#wrap {
	width: 960px;
	margin: 0 auto;
}

header > .logo {
	margin: 30px 0 20px 0;
}

header > .logo > a {
	color: green;
}

header > p {
	margin-bottom: 10px;
}

header > nav > .gnb {
	display: flex;
}

header > nav > .gnb > li {
	width: calc(100% / 7);
	border: 1px solid #000;
	border-right: 0;
	border-left: 0;
}

header > nav > .gnb > li > a {
	display: block;
	height: 50px;
	font-size: 12px;
	line-height: 50px;
	text-align: center;
}

header > nav > .gnb > li:hover > a {
	background-color: rgb(112, 238, 29);
}

section {
	margin: 10px 0;
	display: flex;

	flex-direction: row;
	flex-wrap: nowrap;

	flex-flow: row nowrap;

	justify-content: space-around;
}

section > article {
	width: 48%;
}

section > article > ol {
	margin-top: 15px;
}

section > article > ol > li {
	line-height: 1.5;
}

section > article > ol > li > a:hover {
	text-decoration: underline;
}

footer > address {
	height: 40px;
	font-weight: 800;
	line-height: 40px;
	text-align: center;
	border-top: 1px solid #000;
}

/* 992px 기준 미디어쿼리 구문 - 태블릿 */
@media screen and (max-width: 992px) {
	#wrap {
		width: 100%;
		margin: 0;
	}

	header > .logo {
		margin-left: 10px;
	}

	header > p {
		margin-left: 10px;
	}

	header > nav > .gnb > li > a {
		height: 40px;
		line-height: 40px;
	}

	header > nav > .gnb > li:hover > a {
		background-color: orange;
	}

	section {
		justify-content: flex-start;
	}

	section > article {
		padding: 10px;
	}

	section > article:nth-of-type(1) {
		width: 69%;
	}

	section > article:nth-of-type(2) {
		width: 29%;
	}
}

/* 768px 기준 미디어쿼리 구문 - 스마트폰 */
@media screen and (max-width: 768px) {
	header > nav > .gnb {
		display: initial;
	}

	header > nav > .gnb > li {
		width: initial;
		border-bottom: 0;
	}

	header > nav > .gnb > li:last-child {
		border-bottom: 1px solid #000;
	}

	header > nav > .gnb > li > a {
		height: 50px;
		line-height: 50px;
	}

	header > nav > .gnb > li:hover > a {
		background-color: rgb(112, 238, 29);
	}

	section {
		display: initial;
	}

	section > article:nth-of-type(1) {
		width: 100%;
	}

	section > article:nth-of-type(2) {
		width: 100%;
		border-top: 1px solid #000;
	}
}
