@charset "utf-8";

body {
	font-size: 12px;
	background-color: #fdfcf0;
}

#wrap {
	width: 980px;
	margin: 0 auto;
}

.header {
	margin-bottom: 20px;
}

.header > h1 {
	padding: 50px 0 20px;
	font-size: 15px;
}

.header > h1 + p {
	font-weight: 600;
	line-height: 1.5;
}

.section {
	margin: 20px 0;
}

.section > .guide {
	padding: 40px 0;
	border: 1px solid #e1ddd3;
	border-left-width: 0;
	border-right-width: 0;
}

.section > .guide > p {
	margin-left: 30px;
}

.section > .guide > ul {
	margin: 20px 0 0 30px;
}

.section > .guide > ul > li {
	line-height: 1.6;
}

.section > .guide > ul > li > span {
	display: block;
	text-indent: 7px;
}

.section > .contact {
	margin-top: 20px;
}

.section > .contact > h2 {
	margin-left: 30px;
	font-size: 13px;
}

.section > .contact > div {
	margin: 20px 15px;
	padding: 20px 0 5px 20px;
	border: 1px solid #e1ddd3;
}

.section > .contact > div > ul > li {
	line-height: 1.8;
}

.section > .contact > div > p {
	height: 40px;
	line-height: 40px;
}

.section > .contact > div.container {
	padding: 20px;
}

.section > .contact > div.container > p {
	line-height: 20px;
}

.section > .contact > div.container > address {
	margin-top: 2px;
}

.footer {
	padding-bottom: 50px;
}

.footer > p {
	overflow: hidden;
	width: 160px;
	margin: 0 auto;
	border: 2px solid #727272;
	border-radius: 5px;
}

.footer > p > a {
	display: block;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

.footer > p > a:hover {
	background-color: #eee;
}
