@charset "utf-8";

body {
	font-size: 13px;
}

#wrap {
	/* % 가변사이즈 */
	width: 85%;
	margin: 0 auto;
}

section > .news > li {
	border-top: 1px dotted #000;
}

section > .news > li:nth-child(odd) {
	background-color: beige;
}

section > .news > li:last-child {
	border-bottom: 1px dotted #000;
}

/* a는 터치영역 */
section > .news > li > a {
	display: block;
	padding: 12px 15px;
}

section > .news > li > a:hover {
	background-color: #ff0;
}

section > .news > li > a > h3 {
	margin-bottom: 9px;
}

footer > address {
	height: 50px;
	line-height: 50px;
	text-align: center;
}

/* 첫번째 li의 이탤릭, 굴림서체로 */
.news > li:first-child {
	font-style: italic;
}
.news > li:nth-child(1) {
	font-family: 굴림;
}
.news > li:nth-of-type(1) {
	font-family: '굴림';
}

/* 마지막 li의 이탤릭, 돋움서체로  */
.news > li:last-child {
	font-style: italic;
}
.news > li:nth-child(7) {
	font-family: 돋움;
}
.news > li:nth-of-type(7) {
	font-family: '돋움';
}

/* 5번째 li의 글자색을 red  */
.news > li:nth-child(5) > a {
	color: red;
}
.news > li:nth-of-type(5) > a {
	color: red;
}

/* 짝수번째 li에 배경색을 gainsboro, 글자간격을 3px로 설정  */
.news > li:nth-child(even) {
	background-color: gainsboro;
}
.news > li:nth-of-type(2n) {
	letter-spacing: 3px;
}

/* 홀수번째 li에 배경색을 beige, 굵기를 800으로 설정 */
.news > li:nth-child(even) {
	background-color: beige;
}
.news > li:nth-of-type(2n + 1) {
	font-weight: 800;
}
