@charset "utf-8";

#wrap {
	display: flex;
	flex-wrap: wrap;
}

section {
	height: 150px;
	color: #fff;
	font-size: 72px;
	line-height: 150px;
	text-align: center;
}

.box1 {
	order: 100;
	width: 20%;
	background-color: red;
}

.box2 {
	order: 200;
	width: 60%;
	background-color: blue;
}

.box3 {
	order: 300;
	width: 20%;
	background-color: green;
}

/* 표준 PC */
@media screen and (max-width: 1200px) {
	.box1 {
		order: 400;
		width: 100%;
	}

	.box2 {
		width: 70%;
	}

	.box3 {
		width: 30%;
	}
}

/* 태블릿 */
@media screen and (max-width: 992px) {
	.box2,
	.box3 {
		width: 100%;
	}
}

/* 스마트폰 */
@media screen and (max-width: 640px) {
	.box1 {
		order: initial;
	}
}
