@charset "utf-8";

#wrap{

  >#slides{
    position: relative;
    width: 960px;
    margin: 0 auto;
    // border: 1px solid #000;

    >.screen{
      overflow: hidden;
      position: relative;
      width: 620px;
      height: 460px;
      margin: 0 auto;
      // border: 1px solid red;

      >.slides-container{
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        left: -240px;
        top: 0;
        width: calc(240px * 5);
        padding-top: 40px;
        // outline: 10px solid pink;

        >li{
          width: 240px;
          transition: all 0.35s;

          &.on{
            //prve버튼 클릭시 자연스러운 효과를 위해 필요
            position: relative;
            z-index: 100;
            
            margin-left: -50px;//카드가 겹쳐지는 폭을 50px로 정함
            transform:scale(1.2);

            &+li{margin-left: -50px;}
          }

          >a{
            display: block;

            >img{
              display: block;
              width: 100%;
            }
          }
        }
      }//end of .slides-container

    }//end of .screen

    //이전,다음
    >a{
      display: block;
      position: absolute;
      top: 50%;
      width: 38px;
      height: 72px;
      margin-top: -36px;
      text-indent: -9999px;

      &.prev{
        left: 0;
        background-image: url(./../images/prev.png);
      }

      &.next{
        right: 0;
        background-image: url(./../images/next.png);
      }
    }

  }//end of .slides
}//end of #wrap