@charset "utf-8";

body{
    background-color: #394753;
}

#wrap{
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
}

header{
    position: relative;
    height: 130px;
    margin-bottom: 1px;
    /* background-color: #ff0; */
}

header>h1.logo{
    position: absolute;
    left: 20px;
    top: 0;
    /* border: 1px solid #000; */
}

/* 13점 */
header>h1.logo>a{
    display: block;
    height: 100px;
    color:#394753;
    line-height: 100px;
}

header>nav{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #394753;
}

header>nav>.gnb{
    display: flex;
    justify-content: flex-end;
}

header>nav>.gnb>li{
    border: 1px solid #000;
    border-right-width: 0;
}

header>nav>.gnb>li:last-child{border-right-width: 1px;}

header>nav>.gnb>li>a{
    display: block;
    height: 28px;
    padding: 0 15px;
    color: #fff;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

header>nav>.gnb>li:hover>a,
header>nav>.gnb>li.on>a{
    color: #394753;
    background-color: #fff;
}

main{}

/* 비주얼 슬라이드 */
main>.visual>a{
    display: block;
    height: 360px;
    text-indent: -9999px;
    background-image: url(./../images/header.jpg);
}

main>.cont{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 20px 0;
}

main>.cont>article{
    width: 310px;
    padding: 5px;
    border: 1px solid #aaa;
    box-sizing: border-box;
}

main>.cont>article>h3{
    margin-bottom: 10px;
    font-size: 12px;
}

main>.cont>article>p{
    padding-bottom: 10px;
    line-height: 1.4;
    font-size: 12px;
}

main>.cont>article>p::after{
    display: block;
    clear: both;
    content: '';
}

/* float을 이용한 글자의 흐름 조절 */
main>.cont>article>p>.frame{
    display: block;
    float: right;
    width: 75px;
    height: 75px;
    margin: -33px -10px 0 0;
    border: 1px solid #bbb;
}

main>.cont>article>p>.frame>img{
    display: block;
    width: 100%;
    height: 100%;
}

main>.cont>article>dl{
    padding-left: 10px;
}

main>.cont>article>dl>dd{
    padding-bottom: 10px;
}


footer>address{
    height: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    background-color: #394753;
}