@charset "utf-8";

#wrap{

  >header{
    position: relative;
    background-image: url(./../images/bg_header.gif);

    //서브메뉴 배경판
    >.bg_lnb{
      display: none;
      position: absolute;
      left: 0;
      top: 100px;
      width: 100%;
      height: 226px;
      background-image: url(./../images/bg_gnb_sub_menu02.gif);
      border-top: 3px solid green;
      border-bottom: 1px solid green;

      >a{
        display: block;
        position: absolute;
        left: 50%;
        top: 20px;
        width: 155px;
        height: 138px;
        margin-left: -500px;
        text-indent: -9999px;
        background-image: url(./../images/item.png);
      }
    }//end of .bg_lnb

    >.container{
      position: relative;
      width: 980px;
      height: 100px;
      margin: 0 auto;
      // outline: 1px solid red;

      >h1.logo{
        position: absolute;
        left: 0;
        top: 18px;
        width: 127px;
        background-image: url(./../images/logo.png);
        >a{
          display: block;
          height: 69px;
          text-indent: -9999px;
        }
      }//end of .logo

      >.snb{
        display: flex;
        flex-flow: row nowrap;
        position: absolute;
        right: 0;
        top: 15px;
        // outline: 1px solid #000;

        >li{
          margin-right: 15px;
          &:last-child{margin-right: 0;}
          >a:hover{
            text-decoration: underline;
          }
        }
      }//end of .snb

      >nav{
        position: absolute;
        right: 0;
        top: 60px;
        
        >.gnb{
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          width: 710px;
          
          >li{
            background-position: 10px 0;
            background-repeat: no-repeat;
            //outline: 1px solid blue;


            &:nth-child(1){
              width: 128px;
              background-image: url(./../images/gnb_menu01.png);
              // background-position: center 0;
              background-position-x: center;

              &:hover{background-image: url(./../images/gnb_menu01_on.png);}
            }

            &:nth-child(2){
              width: 100px;
              background-image: url(./../images/gnb_menu02.png);

              &:hover{background-image: url(./../images/gnb_menu02_on.png);}
            }

            &:nth-child(3){
              width: 173px;
              background-image: url(./../images/gnb_menu03.png);

              &:hover{background-image: url(./../images/gnb_menu03_on.png);}
            }

            &:nth-child(4){
              width: 105px;
              background-image: url(./../images/gnb_menu04.png);

              &:hover{background-image: url(./../images/gnb_menu04_on.png);}
            }

            &:nth-child(5){
              width: 110px;
              background-image: url(./../images/gnb_menu05.png);

              &:hover{background-image: url(./../images/gnb_menu05_on.png);}
            }

            &:nth-child(6){
              width: 84px;
              background-image: url(./../images/gnb_menu06.png);

              &:hover{background-image: url(./../images/gnb_menu06_on.png);}

              >.lnb>li{
                width: 110px;
              }
            }

            >a{
              display: block;
              height: 34px;
              text-indent: -9999px;
            }

            >.lnb{
              display: none;
              margin-top: 20px;
              >li{

                >a{
                  display: block;
                  height: 35px;
                  line-height: 35px;
                  text-indent: 10px;
                  &:hover{
                    color: #fff;
                    background-color: #D31145;
                  }
                }//end of a
              }//end of li
            }//end of .lnb
          }//end of li
        }//end of .gnb
      }//end of nav
    }//end of .container
  }//end of header

  >section{
    height: 550px;
    text-indent: -9999px;
    background-image: url(./../images/banner.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }


}