@charset "utf-8";

#wrap{
	width:886px;
	margin:0 auto;
}

h1{
	height:100px;
	line-height:100px;
	text-align:center;
}

nav{
	position:relative;
	height:37px;
	background-color:#FF0;	
	background-image:url(../images/cafe_menu.gif);
}

nav>.gnb{
	width:calc(70px + 65px + 73px + 74px + 61px + 73px + 73px + 73px);
	height:37px;
	*zoom:1;
}

nav>.gnb:after{display:block;clear:both;content:'';}

nav>.gnb>li{
	float:left;
	background-image:url(../images/cafe_menu.gif);
}

nav>.gnb>li:nth-child(1){width:70px;background-position:0 -37px;}
nav>.gnb>li:nth-child(2){width:65px;background-position:-70px -37px;}
nav>.gnb>li:nth-child(3){width:73px;background-position:-135px -37px;}
nav>.gnb>li:nth-child(4){width:74px;background-position:-208px -37px;}
nav>.gnb>li:nth-child(5){width:61px;background-position:-282px -37px;}
nav>.gnb>li:nth-child(6){width:73px;background-position:-343px -37px;}
nav>.gnb>li:nth-child(7){width:73px;background-position:-416px -37px;}
nav>.gnb>li:nth-child(8){width:73px;background-position:-489px -37px;}

nav>.gnb>li:nth-child(1):hover{background-position:0 0;}
nav>.gnb>li:nth-child(2):hover{background-position:-70px 0;}
nav>.gnb>li:nth-child(3):hover{background-position:-135px 0;}
nav>.gnb>li:nth-child(4):hover{background-position:-208px 0;}
nav>.gnb>li:nth-child(5):hover{background-position:-282px 0;}
nav>.gnb>li:nth-child(6):hover{background-position:-343px 0;}
nav>.gnb>li:nth-child(7):hover{background-position:-416px 0;}
nav>.gnb>li:nth-child(8):hover{background-position:-489px 0;}

nav>.gnb>li:nth-child(1).on{background-position:0 0;}
nav>.gnb>li:nth-child(2).on{background-position:-70px 0;}
nav>.gnb>li:nth-child(3).on{background-position:-135px 0;}
nav>.gnb>li:nth-child(4).on{background-position:-208px 0;}
nav>.gnb>li:nth-child(5).on{background-position:-282px 0;}
nav>.gnb>li:nth-child(6).on{background-position:-343px 0;}
nav>.gnb>li:nth-child(7).on{background-position:-416px 0;}
nav>.gnb>li:nth-child(8).on{background-position:-489px 0;}

nav>.gnb>li>a{
	display:block;
	position:relative;
	height:37px;
	text-indent:-9999px;
}

nav>.gnb>li>a>.new{
	display:block;
	position:absolute;
	right:0;
	top:3px;
	width:14px;
	height:16px;
	background-image:url(../images/cafe_new.png);
	text-indent:-9999px;
}


nav>.event{
	display:block;
	position:absolute;
	right:0;
	top:0;
	width:220px;
	height:37px;
	text-indent:-9999px;
	background-image:url(../images/cafe_event.gif);
	background-position:0 -15px;
}















