*{margin: 0;padding: 0;}

.text-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.container{
  width: 500px;
  margin: 0 auto;
  border: 1px solid #000;
}

.list{
  list-style: none;
  margin-top: 20px;
  color: #222;
}

.list>li{
  margin-bottom: 20px;
  text-align: center;
}